@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --outfit: 'Outfit', sans-serif;
  --quest: 'Questrial', sans-serif;

}

* {
  font-family: var(--quest);
}
html {
  box-sizing: border-box;
  scroll-snap-type: y proximity;
  scroll-behavior: smooth;
  /* scroll-padding-top: 5rem; */
}

body {
  @apply bg-zinc-50
}

.scrollsnap-item {
  @apply snap-start md:snap-center;
}